@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar width */
.scrollbar::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 8px;
  background-color: rgb(185, 185, 185);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(185, 27, 27);
  border-radius: 1000cm;
 
}
